.layout {
  display: flex;
  height: 100%;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.content {
  position: relative;
  background-color: #1e1e1e;
  color: white;
  overflow: hidden;
  height: 100%;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  background: transparent;  /* fully transparent */
  z-index: 10;

  &::before {
    display: none; /* hide the visible line */
  }
}
